//Background-colors:

$bg-light: #fff;
$bg-secondary: #eeeeee;
$bg-blue:#337AB7;
$bg-dark:#3C3C3C;
$bg-light2:#E5E5E5;


// Colors:

$color-secondary: #c6c4c4;
$color-dark:#000000;
$color-light:#fff;

// Sizes:

$nav-sub:300px;