.link {
  font-weight: 400;
  font-size: 25px;
  color: $color-light;
  transition: 0.3s ease;
  &:hover {
    background: rgba(0, 0, 0, 0.375);
  }
}
.nav__sub-link {
  font-size: 20px;
  color: $color-light;
  &:hover {
    background: rgba(0, 0, 0, 0.264);
  }
}
